* {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #34e28b; /* Couleur principale */
  --style-color: #fa0061; /* Couleur secondaire */
  --background-Head-Foot: #111111;
  --background-color: #010101; /* Couleur de fond */
  --text-color: #99999c; /* Couleur du texte */
  --hoover-color: #0ab35f;
  --text-button: #010101;
  --title-color: #e4dcdc;
}

html {
  height: 100%;
}
body {
  position: relative;
  font-family: "Press Start 2P", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  width: 100%;
  height: 100%;
  font-family: monospace;
}

/* Styles pour l'en-tête (header) */
header {
  position: relative;
  font-size: 15px;
  top: 0%;
  background-color: var(--background-Head-Foot);
  color: var(--text-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  padding: 5px;
  box-shadow: -5px -7px 20px #34e28b;
  z-index: 1;
  transition: 0.15s;
}

/* Style pour le bouton */
.menu-button {
  cursor: pointer;
  background-color: #34e28b; /* Couleur verte pour l'exemple */
  color: #010101; /* Couleur du texte */
  padding: 10px 15px; /* Espacement intérieur pour que le bouton soit plus grand */
  border: none; /* Supprime la bordure par défaut des boutons */
  text-align: center; /* Centre le texte dans le bouton */
  text-decoration: none; /* Supprime la décoration du texte */
  display: inline-block; /* Permet de spécifier des dimensions au bouton */
  font-size: 16px; /* Taille du texte */
  margin: 4px 2px; /* Marge autour du bouton */
  transition-duration: 0.4s; /* Effet de transition pour le survol */
  border-radius: 5px; /* Bords arrondis du bouton */
  /* Ajoutez d'autres styles selon vos besoins */
}

.menu-button:hover {
  background-color: #0ab35f;
}

/* Style pour cacher le menu par défaut */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #e4dcdc;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style pour les liens dans le menu */
.dropdown-menu a {
  color: #010101;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Style pour le menu ouvert */
.show {
  display: block;
}

.logo {
  position: absolute;
  content: "";
}

/* .name1 {
  position: absolute;
  content: "";
  bottom: -18px;
  padding: 5px 10px;
  width: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fa0061;
} */

.name1 h2 {
  margin: 0;
  font-size: 16px;
}

.faq p {
  display: flex;
  margin: 30px auto;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.faq h5 {
  display: flex;
  margin: 30px auto;
  color: var(--title-color);
}

header h1 {
  margin: 0;
}

footer p {
  color: var(--text-color);
}

nav p {
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.faq h3 {
  text-align: center;
  color: var(--text-color);
}

/* Styles pour le contenu principal (main) */
main {
  flex-direction: column;
  font-size: 16px;
  display: flex;
  height: 1px;
  max-width: 600px;
  margin: auto;
  margin-top: 550px;
  padding: 1px;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
}

/* Styles pour le pied de page (footer) */
footer {
  content: "";
  position: fixed;
  font-size: 15px;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: var(--background-Head-Foot);
  padding: 20px;
  box-shadow: 10px 20px 40px #34e28b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  display: flex;
  margin: 30px auto;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.footerdiv {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 30px auto;
  color: var(--text-color);
}

.FooterLinks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  columns: 10px;
  color: var(--text-color);
}

.footerCase {
  border: 0px solid rgb(0, 0, 0);
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section h3 {
  margin: 0 0 10px;
  color: var(--text-color);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.emailing {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.emailing h4 {
  background-color: var(--button-color);
}

.NewsletterBlock h4 {
  color: #000000;
  background-color: #34e28b;
}

/* Styles pour le copyright */
.copyright {
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
  color: var(--text-color);
}

/* Styles pour les liens */
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
