* {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #34e28b; /* Couleur principale */
  --style-color: #fa0061; /* Couleur secondaire */
  --background-Head-Foot: #111111; /* Couleur de fond */
  --background-color: #010101;
  --text-color: #99999c; /* Couleur du texte */
  --title-color: #e4dcdc;
  --hoover-color: #0ab35f;
  --popup-background: #ffffff; /* Fond de la pop-up */
  --popup-text-color: #000000; /* Texte de la pop-up */
  --text-button: #010101;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  width: 100%;
  height: 100%;
  font-family: monospace;
}

/* Styles pour l'en-tête (header) */
header {
  position: relative;
  display: flex;
  font-size: 15px;
  margin-bottom: 60px;
  background-color: var(--background-Head-Foot);
  color: var(--text-color);
  padding: 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  padding: 5px;
  box-shadow: -5px -7px 20px #34e28b;
  z-index: 1;
  transition: 0.15s;
}

/* Style pour le bouton */
.menu-button {
  cursor: pointer;
  /* Ajoutez d'autres styles selon vos besoins */
}

/* Style pour cacher le menu par défaut */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #e4dcdc;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style pour les liens dans le menu */
.dropdown-menu a {
  color: #010101;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Style pour le menu ouvert */
.show {
  display: block;
}

.neon-wrapper {
  text-align: center;
  color: var(--text-color);
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.neon-text {
  /* ... vos autres styles ... */
  border-right: 2px solid #34e28b;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #34e28b;
  }
}

h2,
h5,
h6 {
  margin-top: 60px;
  margin-bottom: 30px;
  color: var(--title-color);
}

h1 {
  margin-bottom: 100px;
}

p {
  font-size: 17px;
}

.nav {
  position: absolute;
  content: "";
  left: 0%;
  width: 20%;
}

.nav :hover {
  left: -100px;
}

.logo {
  position: absolute;
  content: "";
  left: 47%;
}

/* .name1 {
  position: absolute;
  content: "";
  left: 45%;
  bottom: -18px;
  padding: 5px 10px;
  width: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #34e28b;
  align-items: center;
} */

.name1 h2 {
  margin: 0;
  font-size: 16px;
}

header h1 {
  margin: 0;
}

footer p {
  color: var(--text-color);
}

nav p {
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.our-canvases-btn {
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--button-color);
  text-align: center;
  border: 1px solid #000000; /* ou toute autre couleur de bordure que vous préférez */
  border-radius: 50px; /* Pour les coins arrondis */
  transition: background-color 0.3s; /* Pour un effet de survol */
}

.our-canvases-btn:hover {
  background-color: var(--hoover-color); /* Couleur de fond au survol */
}

.our-canvases-btn a {
  color: var(--text-button); /* Texte noir */
  /* ... autres propriétés ... */
}

/* Styles pour le contenu principal (main) */
main {
  flex-direction: column;
  display: flex;
  width: 100%;
  padding-bottom: 100px;
  /* margin: 100px auto; */
  justify-content: center;
  align-items: center;
}

/*Boutons pages d'acceuil Classic canva / Custom canva*/
.canva-buttons {
  text-align: center; /* Centrer les boutons */
  margin-top: 20px;
}

.canva-container {
  display: none; /* Masquer par défaut les conteneurs des tableaux */
}

.canva-container.active {
  display: block; /* Afficher le conteneur lorsqu'il est actif */
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  /* Ajoutez ici d'autres styles pour vos boutons */
}

/* Styles pour le pied de page (footer) */
footer {
  content: "";
  position: fixed;
  font-size: 15px;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: var(--background-Head-Foot);
  padding: 5px;
  box-shadow: 10px 20px 40px #34e28b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerdiv {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerdiv p {
  color: var(--text-color);
}

.title {
  margin: 30px auto;
  color: var(--text-color);
}

.title p {
  margin-bottom: 20px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.FooterLinks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  columns: 10px;
  color: var(--text-color);
}

.FooterLinks p {
  color: var(--text-color);
}

.footerCase {
  border: 0px solid rgb(0, 0, 0);
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section h3 {
  margin: 0 0 10px;
  color: var(--text-color);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.emailing {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.emailing h4 {
  background-color: var(--button-color);
}

.NewsletterBlock h4 {
  color: var(--text-color);
  background-color: var(--button-color);
}

/* Styles pour le copyright */
.copyright {
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
  color: var(--text-color);
}

/* Styles pour les liens */
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
