* {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #34e28b; /* Couleur principale */
  --style-color: #fa0061; /* Couleur secondaire */
  --background-Head-Foot: #111111;
  --background-color: #010101; /* Couleur de fond */
  --text-color: #99999c; /* Couleur du texte */
  --title-color: #e4dcdc;
  --hoover-color: #0ab35f;
  --popup-background: #111111; /* Fond de la pop-up */
  --popup-text-color: #e4dcdc; /* Texte de la pop-up */
  --text-button: #010101;
}

html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  width: 100%;
  height: 100%;
  font-family: monospace;
}

/* Styles pour l'en-tête (header) */
header {
  position: relative;
  font-size: 15px;
  background-color: var(--background-Head-Foot);
  color: var(--text-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  padding: 5px;
  box-shadow: -5px -7px 20px #34e28b;
  z-index: 1;
  transition: 0.15s;
}

.logo {
  position: absolute;
  content: "";
  left: 47%;
}

/* .name1 {
  position: absolute;
  content: "";
  left: 45%;
  bottom: -18px;
  padding: 5px 10px;
  width: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fa0061;
} */

/* Style pour la pop-up */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 151, 151, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: var(--popup-background);
  color: var(--popup-text-color);
  margin-bottom: 100px;
  flex-direction: column;
  width: 50%; /* Largeur de la pop-up */
  min-height: 50%; /* Hauteur minimale de la pop-up */
  padding: 20px;
  box-shadow: 5px 5px 50px #34e28b;
  text-align: center;
  display: flex; /* Pour activer flexbox pour les éléments enfants */
  align-items: center; /* Centrage horizontal des éléments enfants */
  justify-content: center; /* Centrage vertical des éléments enfants */
}

.close-btn {
  float: right;
  top: 10px; /* Espacement du haut de la pop-up */
  right: 10px; /* Espacement du côté droit de la pop-up */
  font-size: 28px;
  cursor: pointer;
}

.popup-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Pour centrer les boutons dans la pop-up */
}

h4 {
  color: var(--title-color);
}

.name1 h2 {
  margin: 0;
  font-size: 16px;
}

header h1 {
  margin: 0;
}

footer p {
  color: var(--text-color);
}

nav p {
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

/* Styles pour le contenu principal (main) */
main {
  flex-direction: column;
  font-size: 16px;
  display: flex;
  min-height: 100vh; /* Cela s'assurera que main est au moins aussi haut que la fenêtre du navigateur */
  max-width: 600px;
  margin: 100px auto;
  padding-bottom: 100px;
  color: var(--text-color);
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.product-details {
  margin-left: 20px;
}

.description h4 {
  margin-bottom: 20px;
  max-width: 50%;
  text-align: center;
}

.description p {
  margin-bottom: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  max-width: 50%;
  color: var(--text-color);
  text-align: center;
}

h1 {
  color: #555;
}

.price {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: var(--text-color);
}

.description {
  margin: 50px 0;
}

.size {
  font-weight: bold;
  margin-bottom: 20px;
}

.buy-button {
  background-color: var(--button-color);
  color: var(--text-button);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: var(--hoover-color);
}

/* Responsive design */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

/* Styles pour le pied de page (footer) */
footer {
  content: "";
  position: fixed;
  font-size: 15px;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: var(--background-Head-Foot);
  padding: 5px;
  box-shadow: 10px 20px 40px #34e28b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  display: flex;
  margin: 30px auto;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.footerdiv {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 30px auto;
  color: var(--text-color);
}

.FooterLinks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  columns: 10px;
  color: var(--text-color);
}

.footerCase {
  border: 0px solid rgb(0, 0, 0);
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section h3 {
  margin: 0 0 10px;
  color: var(--text-color);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.emailing {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.emailing h4 {
  background-color: var(--button-color);
}

.NewsletterBlock h4 {
  color: #000000;
  background-color: #34e28b;
}

/* Styles pour le copyright */
.copyright {
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
  color: var(--text-color);
}

/* Styles pour les liens */
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
