* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #1a202c;
  width: 100%;
  height: 100%;
  font-family: monospace;
}

/* Styles pour l'en-tête (header) */
header {
  position: relative;
  font-size: 15px;
  background-color: #02001c;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  padding: 5px;
  box-shadow: 2px 2px 7px #fa0061;
  z-index: 1;
  transition: 0.15s;
}

.logo {
  position: absolute;
  content: "";
  left: 47%;
}

.name1 {
  position: absolute;
  content: "";
  left: 45%;
  bottom: -18px;
  padding: 5px 10px;
  width: auto;
  color: white;
  background-color: #02001c;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fa0061;
}

.name1 h2 {
  margin: 0;
  font-size: 16px;
}

header h1 {
  margin: 0;
}

footer p {
  color: #ffffff;
}

nav p {
  text-decoration: none;
  color: #ffffff;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* Styles pour le contenu principal (main) */
main {
  flex-direction: column;
  font-size: 16px;
  display: flex;
  min-height: 100vh; /* Cela s'assurera que main est au moins aussi haut que la fenêtre du navigateur */
  max-width: 600px;
  margin: 100px auto;
  padding-bottom: 100px;
  color: #ffffff;
  background-color: #1a202c;
  justify-content: center;
  align-items: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.product-details {
  margin-left: 20px;
}

.description h4 {
  margin-bottom: 20px;
  max-width: 50%;
  text-align: center;
}

.description p {
  margin-bottom: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  max-width: 50%;
  color: #02feff;
  text-align: center;
}

h1 {
  color: #555;
}

.price {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #ffffff;
}

.description {
  margin: 50px 0;
}

.size {
  font-weight: bold;
  margin-bottom: 20px;
}

.buy-button {
  background-color: #02feff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #00c2c2;
}

/* Responsive design */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

/* Styles pour le pied de page (footer) */
footer {
  content: "";
  position: fixed;
  font-size: 15px;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: #02001c;
  padding: 5px;
  border-top: 4px solid #fa0061;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  display: flex;
  margin: 30px auto;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.footerdiv {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 30px auto;
  color: #ffffff;
}

.FooterLinks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  columns: 10px;
  color: #ffffff;
}

.footerCase {
  border: 0px solid rgb(0, 0, 0);
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section h3 {
  margin: 0 0 10px;
  color: #ffffff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.emailing {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.emailing h4 {
  background-color: #02feff;
}

.NewsletterBlock h4 {
  color: #000000;
  background-color: #02feff;
}

/* Styles pour le copyright */
.copyright {
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
  color: #ffffff;
}

/* Styles pour les liens */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
